<template name="addEvent">
    <div class="ui form"><br>
        <h1 class="ui header centered">Neues Event hinzufügen</h1><br>
        <h3 class="ui header">Datum & Uhrzeit</h3>
        <div class="fields">
            <div class="field">
                <label>Beginn
                </label>
                <input id="begin" type="text" placeholder="27.03.2016 12:00">
            </div>
            <div class="field">
                <label>Ende</label>
                <input id="end" type="text" placeholder="27.03.2016 19:00">
            </div>
            <div class="field">
                <p>{{duration}}</p>
                <p>{{startsIn}}</p>
            </div>
        </div>
        <h3 class="ui header">Event</h3>
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank">[markdown
            support]</a>
        <div class="field">
            <label>Überschrift
            </label>
            <input id="title" type="text" placeholder="z.B. Reif für die Insel">
        </div>
        <div class="field">
            <label>Anbieter/Ort
            </label>
            <input id="vendor" type="text" placeholder="z.B. Zoo Dresden">
        </div>
        <div class="field">
            <label>Veranstaltungsart</label>
            <input id="type" type="text" placeholder="z.B. Ferienspiele">
        </div>
        <div class="field">
            <label>Veranstaltungsart</label>
            <input id="image_upload" type="file">
            {{#with image}}
                <img src="{{this.url store='thumbs'}}">
            {{else}}
nope
            {{/with}}
        </div>
        <div class="field">
            <label>Artikel</label>
            <textarea id="article" placeholder="Text des Artikels"></textarea>
        </div>
        <div class="field">
            <label>Eintritt/Preis</label>
            <input id="fee" type="text" placeholder="z.B. 2,50€">
        </div>
        <div class="field">
            <label>Alter</label>
            <input id="age" type="text" placeholder="z.B. ab 9 Jahren oder 5-9 Jahre">
        </div>
        <div class="field">
            <label>Bemerkung</label>
            <input id="notice" type="text" placeholder="z.B. Anmeldung erforderlich">
        </div>
        <div class="field">
            <label>Optional</label>
            <textarea id="optional" placeholder="Bitte mitbringen: ..."></textarea>
        </div>
        <div class="three fields">
            <div class="field">
                <label>Anbieter</label>
                <input id="vendor_name" type="text" placeholder="z.B. Zoo Dresden e.V.">
            </div>
            <div class="field">
                <label>Straße+Nr</label>
                <input id="vendor_street" type="text" placeholder="z.B. Musterstraße 17a">
            </div>
            <div class="field">
                <label>PLZ/Ort</label>
                <input id="vendor_city" type="text" placeholder="z.B. 01217 Dresden">
            </div>
        </div>
        <div class="field">
            <label>weitere Informationen</label>
            <textarea id="more_information" placeholder="z.B. Links etc"></textarea>
        </div>
        <div class="field">
            <label>Tippgeber</label>
            <input id="insider_name" type="text" placeholder="z.B. Dude Awesome aus Fancytown">
        </div>
        <div class="three fields">
            <div class="field">
                <label>Fotolizenz</label>
                <input id="license" type="text" placeholder="z.B. somename/ Fotalia.com">
            </div>
            <div class="field">
                <label>Redakteur</label>
                <input id="author" type="text" placeholder="z.B. Resi">
            </div>
            <div class="field">
                <label>Bildername</label>
                <input id="image_name" type="text" placeholder="z.B. #9876543">
            </div>
        </div>
        <button class="ui button js-save">speichern</button>
    </div>
</template>