<template name="events">
    {{> eventlist}}
</template>

<template name="eventlist">
    <table class="ui selectable celled striped table">
        <thead>
        <tr>
            <th colspan="7">
                Events
                <a href="{{pathFor route='addEvent'}}" class="circular ui icon button mini">
                    <i class="icon plus"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each event in events}}
            {{> eventlistitem event}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="eventlistitem">
    <tr>
        <td>
            {{title}}
        </td>
        <td>{{author}}</td>
        <td>
            {{begin._d}}
        </td>
        <td>
            {{#if hidden}}
                <div class="ui button small green" data-toggle="{{_id}}">live schalten</div>
            {{else}}
                <div class="ui button small pink" data-toggle="{{_id}}">offline schalten</div>
            {{/if}}
        </td>
        <td>
            {{vendor}}
        </td>
    </tr>
</template>